<%- include('partials/header') %>
<main class="content">
  <h1 class="content-title">Contact</h1>
  <section class="segment">
    <h2 class="segment-title">Contacter l'administrateur</h2>
    <p>
      Pour toute information, notre équipe reste joinable à l'adresse email
      suivante : xaviermarcotte08@gmail.com
    </p>
  </section>
</main>
<%- include('partials/footer') %>
