<%- include('partials/header') %>
<main class="content">
  <h1 class="content-title">Mentions légales</h1>
  <section class="segment">
    <h2 class="segment-title">Mentions légales</h2>
    <p>
      Bienvenue sur Pilori, une plateforme communautaire destinée à favoriser
      l'échange et la collaboration entre ses utilisateurs. Avant d'utiliser nos
      services, veuillez lire attentivement les présentes mentions légales.
    </p>
    <h2 class="segment-title">1. Identification</h2>
    <p>
      Le site Pilori est exploité par Xavier Marcotte, une entité enregistrée à
      Paris et représentée par Xavier Marcotte, agissant en qualité de
      directeur.
    </p>
    <h2 class="segment-title">2. Propriété intellectuelle</h2>
    <p>
      Tous les contenus présents sur ce site, y compris mais sans s'y limiter,
      les textes, les graphiques, les logos, les icônes, les images, les clips
      audio et vidéo, ainsi que leur mise en page, sont la propriété exclusive
      de Pilori ou de ses concédants de licence, et sont protégés par les lois
      nationales et internationales sur le droit d'auteur et les autres droits
      de propriété intellectuelle.
    </p>
    <h2 class="segment-title">3. Utilisation du site</h2>
    <p>
      En utilisant Pilori, vous acceptez de ne pas : Usurper l'identité d'un
      autre utilisateur ou de toute autre personne. Harceler, menacer, diffamer,
      ou violer les droits de toute autre personne. Utiliser le site à des fins
      illégales ou non autorisées. Porter atteinte à la sécurité du site ou
      tenter d'accéder à des parties du site auxquelles vous n'êtes pas
      autorisé. Publier ou transmettre tout contenu inapproprié, offensant,
      diffamatoire, obscène, ou illégal.
    </p>
    <h2 class="segment-title">4. Responsabilité</h2>
    <p>
      Pilori décline toute responsabilité quant aux contenus publiés par les
      utilisateurs sur Pilori. Chaque utilisateur est seul responsable du
      contenu qu'il publie.
    </p>
    <h2 class="segment-title">5. Modifications des mentions légales</h2>
    <p>
      Pilori se réserve le droit de modifier les présentes mentions légales à
      tout moment et sans préavis. Les utilisateurs sont invités à consulter
      régulièrement cette page pour prendre connaissance des éventuelles
      modifications. En continuant à utiliser Pilori, vous acceptez les
      présentes mentions légales et vous engagez à les respecter. Pour toute
      question ou demande d'information concernant ces mentions légales,
      veuillez nous contacter à l'adresse suivante : xaviermarcotte08@gmail.com.
      Dernière mise à jour : 07/04/2024.
    </p>
  </section>
</main>
<%- include('partials/footer') %>
