<%- include('partials/header') %>
<main class="content">
  <h1 class="content-title">Plan du site</h1>
  <section class="segment">
    <h2 class="segment-title">Le site web</h2>
    <p>
      Pilori est une application communautaire sur laquelle les utilisateurs
      peuvent dénoncer des sites web présentant un dysfonctionnement.
      L'utilisateur a la possibilité de s'enrengistrer sur la plateforme et
      d'accèder à ses diverses fonctionnalités.
    </p>
  </section>
</main>
<%- include('partials/footer') %>
